.fondo1{
    background-image: url(https://previews.123rf.com/images/photoraidz/photoraidz1312/photoraidz131200122/24204455-dise%C3%B1o-de-la-plantilla-con-la-red-social-iconos-de-fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 47%;
}

.fondo-interior{
    background-color: rgb(140, 198, 206);
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 10%;
}

.btn-enviar{
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 2%;

}

.contactanos{
    font-family: fantasy;
    margin-bottom: 5%;
}