<section class="fondo1">
	<div class="fondo-interior">
				<h1 class="text-center titulo">{{title}}</h1>
				<h3 class="text-center">Disfruta y comparte con tus amigos :)</h3>
				<p class="botones-inicio text-center">
					<a href="#" class="btn btn-success btn-lg" role="button">
						Mi perfil
					</a>
					<a href="#" class="btn btn-primary btn-lg" role="button">
						Publicaciones
					</a>
					<a href="#" class="btn btn-default btn-lg" role="button">
						Mensajes
					</a>
				</p>
			<h1 class="text-center subtitulo1">Publicaciones</h1>
			<h3 class="text-center">Puedes realizar tus publicaciones y incluir imagenes en ellas!</h3>
		<img src="../../../assets/img/publicaciones.jpg" alt="" class="img-publicaciones">
		<h1 class="text-center subtitulo1">Mensajes</h1>
		<h3 class="text-center">Puedes enviar mensajes privados a tus amigos!</h3>
		<img src="../../../assets/img/mensajes.jpg" alt="" class="img-publicaciones">
	</div>
</section>